.dash a{
    color: #2F4317;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}
.dash a.active{
    background-color: none;
    text-shadow: #A9F537 0px 0px 10px;

}